
.edit-btn {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: medium;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.edit-btn:hover {
    box-shadow: 0px 0px 4px 4px $box-shadow-edit;
}

.create-btn {
    margin: 1em;
    padding: 0.8em;
    font-size: medium;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.create-btn:hover {
    box-shadow: 0px 0px 4px 4px $box-shadow-create;
}