.login-form {
    display: flex;
    flex-direction: column;
    padding: 0em 8em 0em 8em;
}
.login-form input {
    padding: 0.5em;
    margin: 0.5em;
}
.login-form button {
    padding: 0.5em;
    margin: 0.5em;
}

.register-btn {
    font-size: 18px;
}

.register-btn:hover {
    box-shadow: 0px 0px 6px 6px rgb(106, 106, 238);
}

.login-btn {
    font-size: 18px;
}

.login-btn:hover {
    box-shadow: 0px 0px 6px 6px rgb(86, 221, 86);
}