.login-form {
    display: flex;
    flex-direction: column;
    padding: 0em 11em 0em 11em;
}
.login-form input {
    padding: 0.5em;
    margin: 0.5em;
}
.login-form button {
    padding: 0.5em;
    margin: 0.5em;
}