.header {
    background-color: $primary-color;
    padding: 2em;
    border-radius: 0.5em;
    h1 {
        font: 42px $font-stack;
    }
}

.title {
    font: 32px $font-stack;
}

.title-input {
    width: 95%;
    margin: 1em;
}

.card h2 {
    font: 28px $font-stack;
}

.card p {
    padding: 1em;
    line-height: 1.2em;
}

q {
    margin-top: 3em;
    font: 22px $font-stack;
}

.quote-wrapper p {
    margin-left: 19em;
    font: 16px $font-stack;
}

.label {
    font: 16px $font-stack;
    margin-right: 1em;
}

.comment > p:first-child {
    border: 1px solid black;
    padding: 2em;
}

.err-msg {
    font: 16px $font-stack;
    padding: 2em;
    font-size: 25px;
    border: 1px solid red;
    box-shadow: 0px 0px 6px 6px rgb(245, 83, 14);
}

.not-msg {
    font: 16px $font-stack;
    margin: 3em 10em 3em 10em;
    font-size: 15px;
    border: 1px solid rgb(68, 0, 255);
    box-shadow: 0px 0px 6px 6px rgb(41, 14, 245);
}

.invisible {
    display: none;
}